@model Licenta.ViewModel.HotelViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
	Layout = "_Layout";
}





    <h2>Create</h2>

    <h4>Hotels</h4>
    <hr />


    <div class="row">


        <div class="col-md-4">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Stars" class="control-label">Stars</label><br />
                    <input asp-for="Stars" class="form-control" />
                    <span asp-validation-for="Stars" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HotelName" class="control-label">Hotel name</label><br />
                    <input asp-for="HotelName" class="form-control" />
                    <span asp-validation-for="HotelName" class="text-danger"></span>
                    @Html.ValidationMessage("HotelName")
                </div>
                <div class="form-group">
                    <label asp-for="DescriptionTable" class="control-label">Description hotel</label><br />
                    <input asp-for="DescriptionTable" class="form-control" />
                    <span asp-validation-for="DescriptionTable" class="text-danger"></span>
                    @Html.ValidationMessage("DescriptionTable")
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Hotel" class="btn btn-default" />
                </div>

				<div class="form-group">
					<input asp-for="HotelPicts" class="form-control" />
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


