@model Licenta.Entityes.CreditCard

@{
    ViewData["Title"] = "EditCreditCard";
	Layout = "_Layout";
}

<h2>EditCreditCard</h2>

<h4>CreditCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCreditCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="IdCard" />
            <div class="form-group">
                <input type="hidden" asp-for="IdClient" />
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardExpireDate" class="control-label"></label>
                <input asp-for="CardExpireDate" class="form-control" />
                <span asp-validation-for="CardExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cvc" class="control-label"></label>
                <input asp-for="Cvc" class="form-control" />
                <span asp-validation-for="Cvc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneyInTheCard" class="control-label"></label>
                <input asp-for="MoneyInTheCard" class="form-control" />
                <span asp-validation-for="MoneyInTheCard" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdCard" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

